<li id="volunteer-<%= volunteer.id %>">
    <span class="trial"><%= volunteer.trial.name %></span>
    <span class="user"><%= volunteer.user.name %></span>
    <span class="notes"><%= volunteer.notes %></span>
    <span class="timestamp">
        <%= time_tag(volunteer.created_at) %>
    </span>
</li>
