<li id="volunteer-<%= volunteer.id %>">
    <span class="trial"><%= link_to volunteer.trial.name, volunteer.trial %></span>
    <span class="user"><%= link_to volunteer.user.name, volunteer %></span>
    <span class="notes"><%= volunteer.notes %></span>
    <span class="timestamp">
        <%= time_tag(volunteer.created_at) %>
    </span>
</li>
