<% provide(:title, @trial.name) %>

<h1><%= @trial.name %></h1>

<p><%= @trial.long_description %></p>

<% if @trial.graphic_url && @trial.graphic_url.length > 0 %>
    <p><%= image_tag(@trial.graphic_url, alt: @trial.name, 
                     class: "trial_graphic") %></p>
<% end %>

<% if is_admin? %>
    <%= link_to "Delete trial", @trial, class: "btn btn-primary", 
        method: :delete, data: { confirm: "You sure?" } %>
<% end %>

<p>Are you interested in volunteering for this trial? Fill out your contact details below and one of our recruiters will contact you.</p>

<%= form_for :volunteer, url: volunteer_path(trial_id: @trial.id) do |f| %>
    <%= render 'shared/error_messages', object: @volunteer %>

    <% if logged_in? %>

        <%= f.label current_user.name %>

        <%= f.label current_user.email %>

        <%= f.label "need to update your contact details? click here" %>

    <% else %>

        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control' %>

        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control' %>

        <%= f.label :password %>
        <%= f.label "pick a password to protect your contact details" %>
        <%= f.password_field :password, class: 'form-control' %>

        <%= f.label :password_confirmation, "Confirmation" %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>

    <% end %>

    <%= f.label :notes %>
    <%= f.label "For example, 'phone after 6pm on 22/8/17'" %>
    <%= f.text_area :notes, class: 'form-control' %>

    <%= f.submit "Volunteer!", class: "btn btn-primary" %>

<% end %>

